server:
  port: 8080

spring:
  flyway:
    enabled: true
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 50
      minimum-idle: 10
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
        jdbc:
          time_zone: UTC

jwt:
  secret: ${JWT_SECRET}
  validity:
    in-seconds: 3600
    in-seconds-for-remember-me: 86400

gemini:
  api-key: ${GEMINI_API_KEY}

app:
  firebase:
    enabled: ${FIREBASE_ENABLED:true}
    config-file: ${FIREBASE_CONFIG_FILE}

fe:
  link: ${FE_LINK}

dexcom:
  python:
    service:
      url: ${DEXCOM_PYTHON_SERVICE_URL}

pubsub:
  subscription:
    glucose-alerts: ${PUBSUB_SUBSCRIPTION}
